<div class = "question_input">
    Group Nickname:  <input class="group_nickname" id="group_nickname" type="text" name="group_nickname" style="width:48%; display:inline;">
</div>

<div class = "question_input">
     To divide the bill by groups, enter the following information about your group and all other groups. Press “next” to toggle to the next group (then enter new initials). Press next twice to bring up the next screen.
</div>
<br/>
<div class = "question_input">
    In this group there were 
    <input class="input_text" id="people_in_group" type="text"  pattern="[0-9]*" name="people_in_group" style="width:25%; display:inline;">
    people
</div>
