<!-- <div data-role="header" class="header-home">
    <h1><a onclick ="returnHome(true);">
            Gozintas
        </a>
    </h1>
    <a class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-right ui-btn-up-a" data-icon="gear" href="#settings" data-theme="a" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span">
    <span class="ui-btn-inner ui-btn-corner-all">
    <span class="ui-btn-text">Settings</span>
    <span class="ui-icon ui-icon-gear ui-icon-shadow"> </span>
    </span>
    </a>
</div>
<div class = "tabs-top">
    <div class="split-bill">
        <a href="#main" onclick="Gozintas.splitBillPath()">
            <div class="paper-icon"></div>
            <div class="text-tab">Split Bill</div>
        </a>
    </div>
    <div class="determine-tip">
        <a href="#main" onclick="Gozintas.determineTipPath()">
            <div class="percent-icon"></div>
            <div class="text-tab">Determine Tip</div>
        </a>
    </div>
</div>
<div class = "background-page">
    <div class = "inner-page">
        <h3><center>Please enter the receipt details below</center></h3>
        <div class="menu">
            <div class = "question_input">
                <label class = "input_text_label" for="total_amount">What is the total amount of the bill?</label>
                <input class = "input_text" id="total_amount_input" type="number" step = "0.01" name="total_amount" placeholder="0.00" min="0.00"><br>
             </div>
             <div class = "question_input">
                <label class = "input_text_label" for="tax_amount">What is the amount of tax shown on the bill?</label><br>
                <input class = "input_text" id="total_tax_amount_input" type="number" step = "0.01" name="tax_amount" placeholder="0.00" min="0.00">
            </div>
            <div class="buttons">
                <div class="links-split" style="display:none;">
                    <a href ="#groupsb" data-role="button" onclick="Gozintas.splitByIndividual()">Split Individually</a>
                    <a href = "#groups" data-role="button" style="width:50%;float:left;">Split as ...</a>

                    <div id = "number_of_groups" style="width:49%;float:right;">
                        <div class="div_select_group_num" style="width:100%;">
                            <select class="select_group_num" id="group_num" name="group_num" data-inline="true" data-routing="group-num.html"></select> 
                        </div>
                    </div>

                </div>
                <div class="links-tip" style="display:none;">
                    <a href = "#page3" data-role="button" onclick="Gozintas.splitByIndividual()">Next</a>   
                </div>
            </div>
            <div style="clear:both;"></div>

        </div>
    </div>
</div>
 -->
