<div data-role="header" class="header-home">
    <h1><a onclick ="returnHome(true);">
            Gozintas
        </a>
    </h1>
    <a class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-right ui-btn-up-a" data-icon="gear" href="#settings" data-theme="a" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span">
    <span class="ui-btn-inner ui-btn-corner-all">
    <span class="ui-btn-text">Settings</span>
    <span class="ui-icon ui-icon-gear ui-icon-shadow"> </span>
    </span>
    </a>
</div>
<!--<div class = "tabs-top">
    <div class="split-bill">
        <a href="#split-bill">
            <div class="paper-icon"></div>
            <div class="text-tab">Split Bill</div>
        </a>
    </div>
    <div class="determine-tip">
        <a href="#determine-tip">
            <div class="percent-icon"></div>
            <div class="text-tab">Determine Tip</div>
        </a>
    </div>
</div>-->
<div class = "background-page">
    <div class = "inner-page">
        <div class ="menu">
            <div class = "add_remove_group">
                <a href="#" data-role="button" onclick="addGroup()" data-icon="plus" class="add_group" data-theme="b">Add Group</a>
                <a href="#" data-role="button" onclick="removeGroup()" data-icon="minus" class="remove_group" data-theme="b">Remove Group</a>
            </div>
            <div class="groups">
            </div>
            <br clear="both">
            <div class="buttons">
                <a href="#page3" data-role="button">Next</a>
            </div>
        </div>
    </div>
</div>
