<div data-role="header" class="header-home">
    <h1><a onclick ="returnHome(true);">
            Gozintas
        </a>
    </h1>
    <a class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-right ui-btn-up-a" data-icon="gear" href="#settings" data-theme="a" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span">
    <span class="ui-btn-inner ui-btn-corner-all">
    <span class="ui-btn-text">Settings</span>
    <span class="ui-icon ui-icon-gear ui-icon-shadow"> </span>
    </span>
    </a>
</div>
<!--<div class = "tabs-top">
    <div class="split-bill">
        <a href="#split-bill">
            <div class="paper-icon"></div>
            <div class="text-tab">Split Bill</div>
        </a>
    </div>
    <div class="determine-tip">
        <a href="#determine-tip">
            <div class="percent-icon"></div>
            <div class="text-tab">Determine Tip</div>
        </a>
    </div>
</div>-->
<div class = "background-page">
    <div class="receipt-wrapper">
        <div class="receipt">
            <div class = "inner-page">

                <div class = "page5 determine_tip bill-top">
                    <div class = "page5 total_tip">
                        <label class = "input_text_label" for="total_tip">Tip</label>
                        <span id="tip_total"></span>
                    </div>
                    <br/>
                </div>

                <div class = "page5 total_tip bill-top ui-grid-a-bill">
                    <label class = "input_text_label" for="total_tip">Tip individual</label>
                    <span id="tip_individual"></span>
                    <br/>
                </div>

                <div class = "page5 total_tip bill-top ui-grid-a-bill">
                    <label class = "input_text_label" for="total_tip">Total Individual</label>
                    <span id="total_individual"></span>
                    <br/>
                </div>

                <br/>

                <div class="bill-breakdown">
                    <div class = "page5 individuals_in_party">
                        <strong>The Breakdown (Party of <span id="individuals_in_party"></span>)</strong>
                    </div>

                    <div class = "page5 food_total">
                        <label class = "input_text_label" for="food_total">Bill total</label>
                        <span id="food_total"></span>
                    </div>

                    <div class = "page5 wine_total">
                        <label class = "input_text_label" for="wine_total">Wine total</label>
                        <span id="wine_total"></span>
                    </div>

                    <div class = "page5 carryout_total">
                        <label class = "input_text_label" for="pre_tax_amount">Carryout total (0% tip rate)</label>
                        <span id="carryout_total"></span>
                    </div>

                    <div class = "page5 tax_total">
                        <label class = "input_text_label" for="total_tip">Tax</label>
                        <span id="tax_total"></span>
                    </div>

                    <div class = "page5 determine_tip">
                        <div class = "page5 total_tip">
                            <label class = "input_text_label" for="total_tip">Tip</label>
                            <span id="tip_total"></span>
                        </div>

                        <hr/>

                        <div class = "page5 total">
                            <label class = "input_text_label" for="total">Total</label>
                            <span id="total_individual"></span>
                        </div>
                    </div>

                    <div class="ui-grid-a-bill">
                        <div class = "page5 total_tip">
                            <label class = "input_text_label" for="total_tip">Tip individual</label>
                            <span id="tip_individual"></span>
                        </div>

                        <div class = "page5 total_tip">
                            <label class = "input_text_label" for="total_tip">Tip total</label>
                            <span id="tip_total"></span>
                        </div>

                        <div class = "page5 total_tip">
                            <label class = "input_text_label" for="total_tip">Total Individual</label>
                            <span id="total_individual"></span>
                        </div>

                        <hr/>

                        <div class = "page5 total_tip">
                            <label class = "input_text_label" for="total_tip">Total for party</label>
                            <span id="total"></span>
                        </div>
                    </div>
                </div> <!-- /bill-breakdown -->
            </div>
        </div>
    </div>
</div>
<a href="#" data-transition="pop" data-role="button" data-inline="true" class="done" data-rel="popup" onclick="$('#popup-4b').popup('open')">I'm Done</a>
<div data-role="popup" id="popup-4b" data-overlay-theme="d" data-theme="c" style="max-width:500px;" class="done">
            <div data-role="content" data-theme="d" style="padding:15px;" class="ui-corner-bottom">
                <h1>You're done!</h1>
                <p>Thank you for using Gozintas. Please click the button below to go back to the beginning.</p>
                <a href="#main" data-ajax="false" rel="external" data-role="button" onclick ="returnHome();">Take me home</a>        
            </div>
</div>


