<div data-role="header">
    <h1><a onclick ="returnHome(true);">
            Gozintas
        </a>
    </h1>
</div>
<div class = "background-page">
    <div class = "inner-page">
        <h3><center>Settings</center></h3>

        <div class = "question_input">
            <div class="div_select_gaz">
                <select class="select_gaz tip_rate" id="tip_rate" name="tip_rate" data-inline="true" data-routing="tip-rate.html">
                </select> 
            </div>
            <label for="tip_rate" class="label_gaz tip_rate">Default Base Rate Tip</label>
        </div>

        <div class="buttons">
            <a data-rel="back" href="javascript:void(0);" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">Save</span>
            </a>
        </div>
    </div>
</div>