<div class = "page5 individuals_in_party">
    <label class = "input_text_label" for="total_individuals">The individual check for a party of</label>
    <input class = "input_text" id="individuals_in_party" type="number" step = "0.01" name="total_individuals" style = "width:97%;" disabled="">
</div>
<div class = "page5 food_total">
    <label class = "input_text_label" for="pre_tax_amount">Bill total</label>
    <input class="input_text" id="food_total" type="text"  pattern="[0-9]*" name="pre_tax_amount" style = "width:97%;" disabled="">
</div>

<div class = "question_input" id="drinks_deserts_amount_container">
    <label for="drink_deserts_etc" class="label_gaz drink_desert_tip_rate">Drinks/Deserts/Etc (food tip rate)</label>
    <input class = "input_text" id="drinks_deserts_amount" type="number" step = "0.01" name="drinks_deserts_etc" placeholder="0.00" min="0.00" style="width:97%;" disabled="">
</div>
<div class = "question_input" id="wine_amount_container" >
    <label for="wine_amount" class="label_gaz wine_rate">Wine (alternative tip rate)</label>
    <input class = "input_text" id="wine_amount" type="number" step = "0.01" name="wine_amount" placeholder="0.00" min="0.00" style="width:97%;" disabled = "">
</div>
<div class = "question_input" id="carry_out_amount_container">
    <label for="carry_out_amount" class="label_gaz takeout_rate">Carry-out for group</label>
    <input class = "input_text" id="carry_out_amount" type="number" step = "0.01" name="carry_out_amount" placeholder="0.00" min="0.00" style="width:97%;" disabled ="">
</div>

<div class = "page5 tax_total">
    <label class = "input_text_label" for="total_tip">Tax for group</label>
    <input class="input_text" id="tax_total" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
</div>

<div class = "ui-grid-a">
    <div class = "page5 total_tip ui-block-a">
        <label class = "input_text_label" for="total_tip">Tip individual</label>
        <input class="input_text" id="tip_individual" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

    <div class = "page5 total_tip ui-block-b">
        <label class = "input_text_label" for="total_tip">Tip <br>total</label>
        <input class="input_text" id="tip_total" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>
</div>

<div class = "ui-grid-a">
    <div class = "page5 total_tip ui-block-a">
        <label class = "input_text_label" for="total_tip">Total Individual</label>
        <input class="input_text" id="total_individual" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

    <div class = "page5 total_tip ui-block-b">
        <label class = "input_text_label" for="total_for_party">Total for group</label>
        <input class="input_text" id="total" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

</div>